{% extends 'base.html' %}

{% block content %}
<h2>Список товарів</h2>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Ціна</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name_prod }}</td>
            <td>{{ product.price }}</td>
            <td>
                <a class="btn btn-sm btn-primary" href="{% url 'edit_prod' product.id %}">Редагувати</a>
                <a class="btn btn-sm btn-danger" href="{% url 'del_prod' product.id %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-primary">&laquo; Перша </a>
            <a href="?page={{ page_obj.previous_page_number }} class="btn btn-primary"">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Наступна</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary" >Остання &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
